<template>
  <div class="hello">
    <pre><a v-bind:href="url">get the distance list</a></pre>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      url: ''
    }
  }
}
</script>

